<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand">NY Times Science Scraper </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>
            </ul>
            <span class="navbar-text">
                <button class="btn btn-primary scrape-btn">Scrape Articles</button>
            </span>
        </div>
    </nav>

    <div class="jumbotron jumbotron-fluid title">
        <div class="container">
            <h1 class="display-4">NY Times Science News Scraper</h1>
        </div>
    </div>
    <div class="main center">
        <br>
        <h2>Please</h2>
        <h2>Scrape</h2>
        <h2>Articles</h2>
        <br>
    </div>

</div>